<app-nabvar></app-nabvar>
<app-secundario-nav></app-secundario-nav>
<!-- Encabezado -->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">¡Bienvenido a nuestra biblioteca en línea!</h1>
        <p class="lead">Encuentra y solicita tus libros favoritos de manera fácil y rápida.</p>
    </div>
</div>

<!-- INICIO DE CARRUSEL -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img img-fluid" width="100%" height="700px" src="assets/imagenes/img1.jpg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1
                        style="font-size:100px; font-family: 'Times New Roman'; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                        ALIMENTA EL CONOCIMIENTO</h1>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="bd-placeholder-img img-fluid" width="100%" height="700px" src="assets/imagenes/img2.jpg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption">
                    <h1
                        style="font-size:100px; font-family:'Times New Roman'; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                        RENDIRSE NUNCA SERÁ UNA OPCIÓN</h1>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="bd-placeholder-img img-fluid" width="100%" height="700px" src="assets/imagenes/img3.jpg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1
                        style="font-size:100px; font-family: 'Times New Roman';text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                        EL CONOCIMIENTO ES LIBRE DE ADQUIRIRSE</h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<br />
<!-- FIN DEL CARRUSEL -->



<!-- Sección Acerca de la Biblioteca -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2>Acerca de la Biblioteca</h2>
            <p>Bienvenido a nuestra biblioteca en línea dedicada a la reserva de libros de estudio y recursos
                educativos.</p>
            <p>Aquí encontrarás una amplia colección de libros y materiales para ayudarte en tu aprendizaje.</p>
            <p>Además, ofrecemos información sobre horarios de atención, políticas de préstamo y más para garantizar una
                experiencia educativa de calidad.</p>
        </div>
    </div>
</div>


<!-- Enlaces a Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="script.js"></script>