<app-nabvar></app-nabvar>
<app-secundario-nav></app-secundario-nav>
<!--
    <img src="assets/imagenes/mapasSitio.png" alt="mapa" height="300px" usemap="#mimapa">

    <map name="mimapa">
        <area shape="circle" coords="649,66,35" (click)="navigateTo('/home')" alt="">
        <area shape="circle" coords="100,216,48" (click)="navigateTo('/vistaL')" alt="/login">
        <area shape="circle" coords="105,343,47" (click)="navigateTo('/login')" alt="">
        <area shape="circle" coords="98,493,44" (click)="navigateTo('/reservar')" alt="">
        <area shape="rect" coords="251,227,389,191" (click)="navigateTo('http://www.bibliotecaecest.mx/')" alt="">
        <area shape="rect" coords="490,238,614,186" (click)="navigateTo('https://media.utng.edu.mx/index.php/s/SmaZsvQ2GgJcrfh')" alt="">
        <area shape="rect" coords="699,236,806,186" (click)="navigateTo('/streaming')" alt="">
        <area shape="rect" coords="904,236,1008,186" (click)="navigateTo('/noticias')" alt="">
        <area shape="rect" coords="1068,236,1181,188" (click)="navigateTo('/mapa')" alt="">
        <area shape="rect" coords="1246,248,1355,191" (click)="navigateTo('/login')" alt="">
        <area shape="rect" coords="1249,347,1352,299" (click)="navigateTo('/libros')" alt="">
        <area shape="rect" coords="1248,466,1360,419" (click)="navigateTo('/reservar')" alt="">
    </map>-->

    <div class="container">
        <ul type="none">
            <a href="/home">Home</a>
            <ul type = "none">
                <a href="/vistaL">Libros</a>
                <ul>
                    <a href="/login">Inicio Sesión</a>
                    <ul>
                        <a href="/login">Prestamo libro</a>
                    </ul>
                </ul>
                <a href="http://www.bibliotecaecest.mx/" target="_blank">Biblioteca Digital</a><br>
                <a href="https://media.utng.edu.mx/index.php/s/SmaZsvQ2GgJcrfh" target="_blank">Reglamento Bibliotecario</a><br>
                <a href="/streaming" target="_blank">Conectarse</a><br>
                <a href="/noticias" target="_blank">Noticias</a><br>
                <a href="/mapa" target="_blank">Mapa Inicio</a><br>
                <a href="/login" >Inicio Sesión</a><br>
                <ul>
                    <a href="/login">Prestamo libro</a>
                </ul>
            </ul>
        </ul>
    </div>
    


