.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centrado {
  width: 300px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: white;
}

.form-group {
  position: relative;
}



.form-style {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.text-danger {
  color: red;
  font-size: 12px;
}

  