<footer class="new_footer_area bg_color" style="margin-top: 2%;">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Presionar</h3>
                        <p>Don’t miss any updates of our new templates and extensions.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribirse</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>-->
                </div>
                <!--<div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Descargas</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Compañias</a></li>
                            <li><a href="#">Aplicaciones movil</a></li>
                            <li><a href="#">Aplicaciones IoS</a></li>
                            <li><a href="#">Escritorio</a></li>
                            <li><a href="#">Proyectos</a></li>
                            <li><a href="#">Mis actividades</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Ayuda</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Documentación</a></li>
                            <li><a href="#">Politica de apoyo</a></li>
                            <li><a href="#">Terminos de privacidad</a></li>
                        </ul>
                    </div>
                </div>-->
                <div class="col-lg-3 col-md-6 ">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft justify-content-center " data-wow-delay="0.8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft; justify-content: center">
                        <h3 class="f-title f_600 t_color f_size_18">Enlaces</h3>
                        <div class="f_social_icon">
                            <a href="https://www.facebook.com/share/NiW41EsuHcceY94H/?mibextid=qi2Omg" target="_blank"
                                class="fab fa-facebook"></a>
                            <a href="https://twitter.com/OmarAle8992269" target="_blank" class="fab fa-twitter"></a>
                            <!-- <a href="#" target="_blank" class="fab fa-instagram"></a> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© Galaxia de Letras Inc.. 2024 todos los derechos reservados.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>Echo con <i class="icon_heart"></i><a href="http://cakecounter.com"
                            target="_blank">CakeCounter</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>